<html lang='ru'>

<head>
  <meta charset='UTF-8' />
  <meta name='rit seo ceo' />
  <meta name='viewport' content='user-scalable=no, width=device-width, initial-scale=1.0' />
  <title>{{title}}</title>
  <script src="https://cdn.jsdelivr.net/gh/supertokens/supertokens-web-js/bundle/website.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/supertokens/supertokens-web-js/bundle/supertokens.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/supertokens/supertokens-web-js/bundle/session.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/supertokens/supertokens-web-js/bundle/emailpassword.js"></script>
  <script src="https://cdn.socket.io/4.7.4/socket.io.min.js"
    integrity="sha384-Gr6Lu2Ajx28mzwyVR8CFkULdCU7kMlZ9UthllibdOSo6qAiN+yXNHqtgdTvFXMT4"
    crossorigin="anonymous"></script>
  <script src='scripts/load.js' defer></script>
  <link rel='stylesheet' href='style.css' />
  <script>
    supertokens.init({
      appInfo: {
        apiDomain: window.location.protocol + '//' + window.location.hostname + (window.location.port ? `:${window.location.port}` : ""),
        apiBasePath: "/api",
        appName: "...",
      },
      recipeList: [
        supertokensSession.init(),
        supertokensEmailPassword.init(),
      ],
    });
  </script>
  <script>
    supertokensSession.getAccessToken().then(async () => {
      window.socket = io.connect('/');
      const userId = await supertokensSession.getUserId();
      console.log(userId)
      window.socket.emit("join-admin", userId)
      window.socket.on("new_review", (mail) => {
        Toastify({
          text: `${mail} добавил новый отзыв`,
          duration: 2000, // Set the duration for how long the toast should be visible
          gravity: 'top', // You can adjust the position (top, bottom, left, right)
          backgroundColor: 'green', // Customize the background color
        }).showToast();
      })
    }).catch(console.log)
    async function logout() {
      await supertokensSession.signOut();
      window.location.href = "/";
    }
  </script>
</head>

<body>
  <header>
    <nav>
      <a class='nav_left' href="/">
        <div class='logo'></div>
        <p class='name'>Really in top</p>
      </a>
      <ul class='links'>
        <li><a class='menu_element' href='#' id='uslugi' style='text-decoration: none'>Услуги</a></li>
        <li><a class='menu_element' href='#' id='main_page' style='text-decoration: none'>О компании</a></li>
        <li><a class='menu_element' href='/contacts' id='contacts_page' style='text-decoration: none'>Контакты</a></li>
        <li><a class='menu_element' id='reviews_button' href='/review_page' style='text-decoration: none'>Отзывы</a>
        </li>

        {{#if user}}
        <li><a class='menu_element' id='reviews_button' href='/' onclick="logout()"
            style='text-decoration: none'>{{user.mail}}</a>
        </li>
        <li>
          {{else}}
        <li><a class='menu_element' id='reviews_button' href='/register' style='text-decoration: none'>Регистрация</a>
        </li>
        <li><a class='menu_element' id='reviews_button' href='/login' style='text-decoration: none'>Вход</a></li>
        {{/if}}
      </ul>
    </nav>
  </header>
  {{{body}}}
  <footer class='bottom'>
    <p><strong>ALBLAK 52</strong></p>
    <p>+7(952)812</p>
    <p>© designed & built by Really in Top ♥</p>
    <input type="hidden" id="serverTime" value="{{time}}"></input>
    <p id='time'></p>
  </footer>
</body>

</html>